html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.2%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  overflow-x: hidden;
  background: #191919;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.loader {
  width: 100%;
  height: 100vh;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.loader-done {
  opacity: 0;
  pointer-events: none;
}

.loader-circle {
  height: 20rem;
  width: 20rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff), color-stop(70%, #ddd), to(#fff));
  background: linear-gradient(#fff 40%, #ddd 70%, #fff 100%);
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader-circle::after {
  content: '';
  position: absolute;
  height: 17rem;
  width: 17rem;
  background: #000;
  border-radius: 50%;
  z-index: 10;
}

.loader-circle-text {
  color: #fff;
  z-index: 15;
  font-size: 2.2rem;
  -webkit-animation: tilt 1000ms ease-in infinite alternate;
          animation: tilt 1000ms ease-in infinite alternate;
}

.loader-blur {
  height: 20rem;
  width: 20rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff), color-stop(70%, #ddd), to(#fff));
  background: linear-gradient(#fff 40%, #ddd 70%, #fff 100%);
  position: absolute;
  border-radius: 50%;
  -webkit-animation: rotate 1000ms infinite alternate;
          animation: rotate 1000ms infinite alternate;
}

.loader-blur--1 {
  -webkit-filter: blur(0.5rem);
          filter: blur(0.5rem);
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.loader-blur--2 {
  -webkit-filter: blur(1rem);
          filter: blur(1rem);
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.loader-blur--3 {
  -webkit-filter: blur(2.5rem);
          filter: blur(2.5rem);
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.loader-blur--4 {
  -webkit-filter: blur(5rem);
          filter: blur(5rem);
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.header {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bio__img {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  border: 2px solid #ffff;
  border-radius: 3px;
}

.bio__img .profile-img {
  width: 100%;
  display: block;
}

.bio__name, .bio__description {
  margin: 2.5rem 0;
  text-align: center;
}

.bio__name-text, .bio__description-text {
  color: #fff;
  font-size: 3.5rem;
}

.bio__description {
  margin: 0 0 2.5rem;
}

.bio__description-text {
  font-size: 1.8rem;
}

.btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  border: 3px solid #fff;
  padding: 1.5rem 2.5rem;
  -webkit-transition-property: background, border, color;
  transition-property: background, border, color;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: #fff;
  color: #191919;
  border-color: currentColor;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.2);
            transform: rotate(360deg) scale(1.2);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.2);
            transform: rotate(360deg) scale(1.2);
  }
}

@-webkit-keyframes tilt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tilt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */