$yellow: #f7f119;
$gradient: linear-gradient(#fff 40%, $yellow 70%, #fff 100%);
$white: #fff;
$light-black: #191919;

html {
  box-sizing: border-box;
  font-size: 62.2%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  overflow-x: hidden;
}

.on-load {
  overflow: hidden;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
// Loader
.loader {
  width: 100%;
  height: 100vh;
  background: $light-black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  // Change this to 1 when finished
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &-done {
    opacity: 0;
    pointer-events: none;
  }

  &-circle {
    height: 20rem;
    width: 20rem;
    background: $gradient;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      height: 17rem;
      width: 17rem;
      background: $light-black;
      border-radius: 50%;
      z-index: 10;
    }

    &-text {
      color: #fff;
      z-index: 15;
      font-size: 2.2rem;
      animation: tilt 1000ms ease-in infinite alternate;
    }
  }

  &-blur {
    height: 20rem;
    width: 20rem;
    background: $gradient;
    position: absolute;
    border-radius: 50%;
    animation: rotate 1000ms infinite alternate;

    &--1 {
      filter: blur(0.5rem);
      animation-delay: 0;
    }
    &--2 {
      filter: blur(1rem);
      animation-delay: 500ms;
    }
    &--3 {
      filter: blur(2.5rem);
      animation-delay: 1000ms;
    }
    &--4 {
      filter: blur(5rem);
      animation-delay: 2000ms;
    }
  }
}

// Header
.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $light-black;
}

.bio {
  @media only screen and (max-width: 420px) {
    padding: 0 2.5rem;
  }
  &__img {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    border: 2px solid #ffff;
    border-radius: 3px;
    .profile-img {
      width: 100%;
      display: block;
    }
  }

  &__name,
  &__description {
    margin: 2.5rem 0;
    text-align: center;
    &-text {
      color: #fff;
      font-size: 3.5rem;
    }
  }

  &__description {
    margin: 0 0 2.5rem;

    &-text {
      font-size: 1.8rem;
    }
  }
}

.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  text-decoration: none;
  color: $white;
  border-radius: 3px;
  border: 3px solid $white;
  padding: 1.5rem 2.5rem;
  transition-property: background, border, color;
  transition: 0.3s ease-in-out;

  &:hover {
    background: $white;
    color: #191919;
    border-color: currentColor;
  }
}

// Main

.main {
  background: #dfdfdf;
  width: 100%;
  min-height: 100vh;
  padding: 5rem;

  @media only screen and (max-width: 420px) {
    padding: 5rem 2.5rem;
  }

  .title {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 4rem;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
    grid-row-gap: 4rem;

    @media only screen and (max-width: 420px) {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
  }

  .card {
    width: 100%;
    background: $white;
    border: 3px solid $light-black;
    &__img {
      img {
        width: 100%;
        display: block;
        height: 100%;
      }
    }

    &__title {
      text-align: center;
      padding: 2.5rem 0;
    }

    &__description {
      padding: 0 2.5rem;
      align-self: flex-start;
      height: 10rem;
      overflow-y: scroll;

      &-text {
        line-height: 2.5rem;
      }
    }

    &__btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2.5rem;
      padding: 0 2.5rem 2.5rem;

      @media only screen and (max-width: 420px) {
        flex-direction: column;
      }
    }

    &__btn {
      text-decoration: none;
      padding: 1rem 2.5rem;
      border-radius: 3px;

      @media only screen and (max-width: 420px) {
        width: 100%;
        text-align: center;
        margin-top: 1.5rem;
      }
      &--white {
        color: $light-black;
        border: 1px solid currentColor;
        transition-property: color, background;
        transition: 0.3s ease-in;

        &:hover {
          color: $white;
          background: $light-black;
        }
      }

      &--dark {
        color: $white;
        border: 1px solid currentColor;
        background: $light-black;
      }
    }
  }
}

.footer {
  background: $light-black;
  padding: 2.5rem;

  .copy,
  a {
    color: $white;
    text-align: center;
    text-decoration: none;

    @media only screen and (max-width: 420px) {
      font-size: 1.6rem;
    }
  }

  a {
    &:hover {
      color: darken($white, 10%);
    }
  }
}
// Animations
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(1.2);
  }
}

@keyframes tilt {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
